<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VOCAUltimate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VOCAUltimate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VOCAUltimate.Properties.Settings>
            <setting name="ClrSys" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="ClrUsr" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="ClrNotUsr" serializeAs="String">
                <value>239, 255, 156</value>
            </setting>
            <setting name="ClrSamCat" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ClrOperation" serializeAs="String">
                <value>255, 153, 51</value>
            </setting>
        </VOCAUltimate.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VOCAUltimate.Properties.Settings>
      <setting name="VOCAC_VOCAServiceGet_VOCAServiceGet" serializeAs="String">
        <value>http://10.10.26.4:8000/VOCAServiceGet.asmx</value>
      </setting>
    </VOCAUltimate.Properties.Settings>
  </applicationSettings>
</configuration>
