<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calender.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Calender.My.MySettings>
            <setting name="LogUsrNm" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="LogPass" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="MailUsrNm" serializeAs="String">
                <value>a.farag</value>
            </setting>
            <setting name="MailUsrPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ConStr" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Calender_\Calender_.mdf;Integrated Security=True</value>
            </setting>
            <setting name="Hour_Frm" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Hour_To" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="NtfEvry" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MailTime" serializeAs="String">
                <value>08/05/2021 10:55:00</value>
            </setting>
        </Calender.My.MySettings>
    </userSettings>
</configuration>