<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VOCAPlus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VOCAPlus.My.MySettings>
            <setting name="StmpR" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="StmpU" serializeAs="String">
                <value>ashraf@jubar.me</value>
            </setting>
            <setting name="StmpP" serializeAs="String">
                <value>AAAA</value>
            </setting>
            <setting name="FEmail" serializeAs="String">
                <value>ashraf@jubar.me</value>
            </setting>
            <setting name="Pass1" serializeAs="String">
                <value>1FD490BFA40B032A147F1FEC29300E1E</value>
            </setting>
            <setting name="ClrSys" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="ClrUsr" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="ClrNotUsr" serializeAs="String">
                <value>239, 255, 156</value>
            </setting>
            <setting name="ExportStr" serializeAs="String">
                <value />
            </setting>
            <setting name="ClrSamCat" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ClrOperation" serializeAs="String">
                <value>255, 153, 51</value>
            </setting>
            <setting name="StmpH" serializeAs="String">
                <value>StmpH</value>
            </setting>
        </VOCAPlus.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>