<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MailService.My.MySettings>
            <setting name="StmpH" serializeAs="String">
                <value>Mail.jubar.me</value>
            </setting>
            <setting name="StmpR" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="StmpU" serializeAs="String">
                <value>ashraf@jubar.me</value>
            </setting>
            <setting name="StmpP" serializeAs="String">
                <value>Hemonad105046!</value>
            </setting>
            <setting name="FEmail" serializeAs="String">
                <value>ashraf@jubar.me</value>
            </setting>
        </MailService.My.MySettings>
    </userSettings>
</configuration>