<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VOCAPLUSService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <VOCAPLUSService.My.MySettings>
            <setting name="MlUsr" serializeAs="String">
                <value>egyptpost\voca-support</value>
            </setting>
            <setting name="MlPss" serializeAs="String">
                <value>asd.ASD123</value>
            </setting>
            <setting name="TimeStart" serializeAs="String">
                <value>08/05/2021 08:00:00</value>
            </setting>
            <setting name="TimeEnd" serializeAs="String">
                <value>08/05/2021 23:00:00</value>
            </setting>
            <setting name="ACBStart" serializeAs="String">
                <value>08/05/2021 09:00:00</value>
            </setting>
            <setting name="ACBEnd" serializeAs="String">
                <value>08/05/2021 16:00:00</value>
            </setting>
            <setting name="Min" serializeAs="String">
                <value>08/05/2021 10:30:00</value>
            </setting>
            <setting name="TO_" serializeAs="String">
                <value>RTM_TEAM@EgyptPost.Org;WFM_RTM@EgyptPost.Org</value>
            </setting>
            <setting name="Cc_" serializeAs="String">
                <value>sameh_gharabawy@EgyptPost.Org;VOCA-SUPPORT@EgyptPost.Org;a.farag@egyptpost.org</value>
            </setting>
        </VOCAPLUSService.My.MySettings>
    </userSettings>
</configuration>
