<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VOCAPLUSService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <VOCAPLUSService.My.MySettings>
            <setting name="MlUsr" serializeAs="String">
                <value>egyptpost\voca-support</value>
            </setting>
            <setting name="MlPss" serializeAs="String">
                <value>asd.ASD123</value>
            </setting>
        </VOCAPLUSService.My.MySettings>
    </userSettings>
</configuration>
