<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MRS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <MRS.My.MySettings>
            <setting name="StmpH" serializeAs="String">
                <value>mail.jubar.me</value>
            </setting>
            <setting name="StmpP" serializeAs="String">
                <value>Hemonad105046!</value>
            </setting>
            <setting name="ExUNm" serializeAs="String">
                <value>egyptpost\acb</value>
            </setting>
            <setting name="FEmail" serializeAs="String">
                <value>artiix@jubar.me</value>
            </setting>
            <setting name="StmpR" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="PopR" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="StmpU" serializeAs="String">
                <value>artiix@jubar.me</value>
            </setting>
            <setting name="ExPass" serializeAs="String">
                <value>Hemonad105046</value>
            </setting>
            <setting name="ExEmail" serializeAs="String">
                <value>mrs@egyptpost.org</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </MRS.My.MySettings>
    </userSettings>
</configuration>