<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VOCAC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <VOCAC.Properties.Settings>
            <setting name="ClrSys" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="ClrUsr" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="ClrNotUsr" serializeAs="String">
                <value>239, 255, 156</value>
            </setting>
            <setting name="ClrSamCat" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="ClrOperation" serializeAs="String">
                <value>255, 153, 51</value>
            </setting>
        </VOCAC.Properties.Settings>
    </userSettings>
</configuration>
